*{
  margin: 0%;
  padding: 0%;
}

body{
  min-height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "navbar navbar"
  "sidebar main"
  "footer footer";
  
}

/* AREA DE BARRA DE MENU */

nav{
  display: flex;
  justify-content: center;
  color: white;
  grid-area: navbar;
  background-color: #25527B;
  padding: 1rem;
}

/* BARRA LATERAL CATEGORIA DE PRODUCTOS */

aside{
  grid-area: sidebar;
  background-color: #E7E7E7;
  padding: 1.5rem 0rem 0rem 3rem;
}

.aside{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.aside h2{
  padding-bottom: 2rem;
}

.aside h3{
  padding-top: 0.5rem;
}

.aside span{
  padding-top: 0.5rem;
}

/* AREA DE PRODUCTOS MAIN */

main{
  grid-area: main;
  background-color: #E7E7E7;
  padding: 1rem;
}

.main{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.producto{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 10px;
}

.producto p{
  padding: 1rem;
}

.comprar{
  border-radius: 0%;
  width: 100%;
  background-color: #25527B;
  color: white;
  padding: 6px;
}

img{
  width: 300px;
  height: 300px;
}

/* AREA DE PIE DE PAGINA */

footer{
  display: flex;
  grid-area: footer;
  padding: 1rem;
  justify-content: center;
}