*{
  margin: 0%;
  padding: 0%;
}

body{
  min-height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "navbar navbar"
  "sidebar main"
  "footer footer";
  
}

/* AREA DE BARRA DE MENU */

nav{
  display: flex;
  justify-content: center;
  color: white;
  grid-area: navbar;
  background-color:blue;
  padding: 1rem;
}

/* BARRA LATERAL CATEGORIA DE PRODUCTOS */

aside{
  grid-area: sidebar;
  background-color: aquamarine;
  padding: 1rem;
}

.aside{
  display: flex;
  flex-direction: column;
}

/* AREA DE PRODUCTOS MAIN */

main{
  grid-area: main;
  background-color: aliceblue;
  padding: 1rem;
}

.main{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.producto{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 10px;
}

.comprar{
  
}

img{
  width: 300px;
  height: 300px;
}

/* AREA DE PIE DE PAGINA */

footer{
  display: flex;
  grid-area: footer;
  background-color: gray;
  padding: 1rem;
  justify-content: center;
}